<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TelemeterIndicator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <TelemeterIndicator.My.MySettings>
      <setting name="Update" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="UserId" serializeAs="String">
        <value />
      </setting>
      <setting name="Pass" serializeAs="String">
        <value />
      </setting>
      <setting name="StartUp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Use" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MustUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SaveLog" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowWifi" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowPay" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowExtra" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowMT" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowBinair" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Lng" serializeAs="String">
        <value>Nederlands</value>
      </setting>
      <setting name="ShowAvg" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowAvgCalc" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowDyn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LocationLog" serializeAs="String">
        <value />
      </setting>
      <setting name="LocationGraph" serializeAs="String">
        <value />
      </setting>
      <setting name="SaveData" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowLimit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DataSend" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowLimitDay" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpdChk" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="UpdLast" serializeAs="String">
        <value />
      </setting>
      <setting name="UpdAuto" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowBalloon" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastDbVersion" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Upd2Beta" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LocationMain" serializeAs="String">
        <value />
      </setting>
      <setting name="LbShowErr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LbShowHtml" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LbShowDbg" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LbColTime" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="MobCols" serializeAs="String">
        <value>100,100,100,100</value>
      </setting>
      <setting name="ConCols" serializeAs="String">
        <value>100,100,100,100,100</value>
      </setting>
      <setting name="LocationMob" serializeAs="String">
        <value />
      </setting>
      <setting name="LbShowCol" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LocationConn" serializeAs="String">
        <value />
      </setting>
    </TelemeterIndicator.My.MySettings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>