<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TelemeterIndicator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <TelemeterIndicator.My.MySettings>
            <setting name="Update" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="UserId" serializeAs="String">
                <value/>
            </setting>
            <setting name="Pass" serializeAs="String">
                <value/>
            </setting>
            <setting name="StartUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Use" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MustUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowWifi" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowExtra" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowMT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowBinair" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Lng" serializeAs="String">
                <value>Nederlands</value>
            </setting>
            <setting name="ShowAvg" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowAvgCalc" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowDyn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocationLog" serializeAs="String">
                <value/>
            </setting>
            <setting name="LocationGraph" serializeAs="String">
                <value/>
            </setting>
            <setting name="SaveData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowLimit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DataSend" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowLimitDay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdLast" serializeAs="String">
                <value/>
            </setting>
            <setting name="UpdChk" serializeAs="String">
                <value>2</value>
            </setting>
        </TelemeterIndicator.My.MySettings>
    </userSettings>
</configuration>
